# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Model and ML files
*.h5
*.pkl
*.joblib
*.tflite

# TensorBoard logs and outputs
logs/
events.out.*

# VSCode
.vscode/

# macOS metadata
Icon?

# Flask/Machine Learning cache
instance/
*.sqlite3
*.db

# Others
*.zip
*.tar
*.gz
